.container {
  composes: global(word-clock);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.words {
  composes: global(words);
  color: #999;
  font-weight: bold;
  line-height: 1;
  transition: opacity 0.15s;
}

.wordsResizing {
  composes: words;
  composes: global(resizing);
  opacity: 0;
  visibility: hidden;
}

.word {
  composes: global(word);
  display: inline-block;
  margin-right: 0.25em;
  transition: color 0.15s;
}

.wordHighlighted {
  composes: word;
  composes: global(word-highlighted);
  color: #cc0000;
}
