.container {
  composes: global(word-clock);
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.words {
  composes: global(words);
  color: #999;
  font-weight: bold;
  transition: opacity 0.15s;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 100%; // when not resizing, space out the rows to fill
}

.wordsResizing {
  composes: words;
  composes: global(resizing);
  opacity: 0;
  visibility: hidden;
  height: auto; // allow natural size for calculation
}

.word {
  composes: global(word);
  display: flex;
  margin-right: 0.25em;
  transition: color 0.15s;
}

.wordHighlighted {
  composes: word;
  composes: global(word-highlighted);
  color: #cc0000;
}
